@model Equipe

@{
    ViewData["Title"] = "Edit";
}

<!-- MAIN -->
<main>

    <section class="container-grid cadastro-equipes">

        <form class="frm-cad-equipe" method="post" action='@Url.Action("Atualizar")' enctype="multipart/form-data">
            <div class="cadequipe-titulo">
                <h1>Atualização de Equipes</h1>
                <hr>
            </div>

            <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

            <input class="campo-entrada" type="text" name="NomeEquipe" placeholder="Digite o novo nome da sua equipe:" required>

            <label class="foto" for="foto-file">
                Nenuma imagem selecionada...
                <input type="file" id="foto-file" name="Imagem">
            </label>

            <button type="submit">Atualizar</button>

        </form>

    </section> 

@* <h1>Edição de Equipe</h1>

<form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">

    <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

    <label for="">Nome</label>
    <input type="text" name="NomeEquipe" value="@ViewBag.Equipe.NomeEquipe">

    <label for="">Imagem</label>
    <input type="file" name="ImagemEquipe" value="@ViewBag.Equipe.ImagemEquipe">

    <button type="submit">Atualizar</button>

</form> *@